:root {
    /* Sizing */
    --content-max-width: 1140px;
    --spacing:1.25rem;
    --slider-width: 50rem;
    --slider-height: 30rem;
    --element-spacing: 0.6rem;

    /* Colors */
    --body-text: #cacaca;
    --border-color: rgb(255 255 255 / 43%);
    --textblock-bg: rgb(0 0 0 / 13%);
    --warm-sun: rgb(237,232,221);
    --warm-sun-lb: rgb(213 213 213);
    --warm-sun-tb: rgb(255 245 224);


    --navy-blazer: rgb(29, 41, 52);
    --navy-blazer-tb: rgb(46, 54, 60);
    --navy-blazer-lb: rgb(55, 60, 65);

    --mint: rgb(112 160 130);
    --mariana-n: 24, 35, 52;
    --mariana-d-n: 8, 12, 18;
    --mariana: rgb(var(--mariana-n));

    /* Shadows */
    /* I love this codepen so much. */
    /* https://codepen.io/sdthornton/pen/wBZdXq */
    --sm1: drop-shadow(0 1px  3px  rgba(0,0,0,0.12)) drop-shadow( 0 1px 2px   rgba(0,0,0,0.24));
    --sm2: drop-shadow(0 3px  6px  rgba(0,0,0,0.16)) drop-shadow( 0 3px 6px   rgba(0,0,0,0.23));
    --sm3: drop-shadow(0 10px 20px rgba(0,0,0,0.19)) drop-shadow( 0 10px 20px rgba(0,0,0,0.23));
    --sm4: drop-shadow(0 14px 28px rgba(0,0,0,0.25)) drop-shadow( 0 14px 28px rgba(0,0,0,0.22));

    /* Base styles */
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}