:root {
    /* Sizing */
    --content-max-width: 1140px;
    --spacing:1.25rem;
    --slider-width: 50rem;
    --slider-height: 30rem;
    --element-spacing: 0.6rem;

    /* Colors */
    --body-text: #cacaca;

    /* Base styles */
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}